@import '../../../assets/styles/mixinsAndVariables';

.button {
  //@include buttonHover(#4A4A4B, $red);
  display: flex;
  font-size: rem(16);
  a {
    position: relative;
    padding: rem(15) rem(30);
    margin: 0;
    background: #4A4A4B;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background: $red;
      z-index: 1;
      transition: width 0.5s;
      transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    }
    &:hover,
    &.active {
      &::before {
        width: 100%;
      }
    }
  }
  span {
    position: relative;
    z-index: 2;
  }
}