@import '../../../assets/styles/mixinsAndVariables';

.product {
  display: flex;
  flex-direction: column;
  max-width: rem(300);
  width: 100%;
  border: 1px solid #f2f2f2;
}

.imgWrapperGlobal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: rem(300);
}

.imgWrapperScale {
  overflow: hidden;
  &:hover {
    .img {
      transform: scale(1.5);
      transition: transform .7s ease-in-out;
    }
  }
}

.imgWrapperHover {
  position: relative;
  .bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      background: transparent url('../../../assets/img/bgProduct-2.jpg');
      background-size: cover;
      opacity: .3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.img {
  min-height: 350px;
  max-width: 300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform .7s ease-in-out;
}

.addCartHover {
  position: absolute;
  width: 100%;
  height: 100%;
}

.info {
  text-align: center;
  padding: rem(20);
}

.infoTarget {
  display: flex;
  justify-content: space-between;
  margin: rem(5) 0;
}
.price {
  font-size: rem(25);
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 5px solid $red;
  span {
    position: absolute;
  }
  .compare {
    top: rem(10);
    right: rem(10);
    opacity: 0;
    transition: opacity .4s ease-in-out;
    &:hover,
    &.active{
      color: $red;
    }
  }
  .cart {
    bottom: rem(-100);
    left: 0;
    font-size: rem(20);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: rem(15) 0;
    background: $red;
    transition: all .5s ease-in-out;
    color: #FFF;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    .cart {
      bottom: 0;
      transition: all .5s ease-in-out;
    }
    .compare {
      opacity: 1;
      transition: opacity .4s ease-in-out;
    }
  }
}