@import '../../assets/styles/mixinsAndVariables';

.innerContent {
  display: flex;
}
.compareItems {
  display: flex;
  flex: 1;
}

.showDifference {
  min-height: 290px;
}
.variables {
  margin-bottom: rem(5);
}

.aside {
  padding: rem(10);
}