@import '../../../assets/styles/mixinsAndVariables';

.popularItems {
  background-color: #F2F2F2;
  padding-top: rem(20);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: rem(30);
  p {
    max-width: rem(600);
    font-size: rem(16);
    text-align: center;
    margin-bottom:rem(20);
  }
}

.button {
  @include buttonHover(#4A4A4B, $red);
  margin-bottom: rem(20);
}